.maze-layer-wrapper {
  display: block;
  margin: 0 auto;
  position: relative;
}

.game-wrapper {
  text-align: center;
  width: 100%;
  height: auto;
  padding: 1rem;
  margin: 0;
  display: block;
  position: relative;
}
