.power-wrapper {
  width: var(--tile-dim);
  height: var(--tile-dim);
  position: absolute;
}

.power {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--point-shadow-color);
  background-color: var(--pure-white);
  width: calc(var(--tile-dim) * 2 / 3);
  height: calc(var(--tile-dim) * 2 / 3);
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

.power img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
