.ghost-wrapper {
  position: absolute;
  width: var(--tile-dim);
  height: var(--tile-dim);
  top: 0;
  left: 0;
}

.ghost {
  top: 50%;
  left: 50%;
  position: absolute;
  width: calc(var(--ghost-dimension));
  height: calc(var(--ghost-dimension) * 1.2);
  animation-name: hover;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transform: translate(-50%, -50%);
}

@keyframes hover {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-50%, calc(-50% + var(--ghost-hover)));
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

.ghost-body {
  position: relative;
  width: calc(var(--ghost-dimension));
  height: calc(var(--ghost-dimension));
  border-top-left-radius: calc(var(--ghost-dimension) / 2);
  border-top-right-radius: calc(var(--ghost-dimension) / 2);
}

.ghost-skirt {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
}

.skirt-wave {
  width: calc(var(--ghost-dimension) / 3);
  height: calc(var(--ghost-dimension) / 5);
  top: 100%;
  border-bottom-left-radius: calc(var(--ghost-dimension) / 3);
  border-bottom-right-radius: calc(var(--ghost-dimension) / 3);
}

.ghost-eye {
  position: absolute;
  top: calc(var(--ghost-dimension) / 3);
  width: calc(var(--ghost-dimension) / 6);
  height: calc(var(--ghost-dimension) / 3);
  transform: translateX(-50%);
  background-color: var(--ghost-eye-color-white);
  border-radius: 100%;
}

.ghost-eye:nth-child(1) {
  left: 35%;
}

.ghost-eye:nth-child(2) {
  left: 65%;
}

.ghost-eye-socket {
  width: calc(var(--ghost-dimension) / 10);
  height: calc(var(--ghost-dimension) / 10);
  background-color: var(--ghost-eye-color);
  border-radius: 100%;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

/* GHOST COLORS */

.clyde .ghost-body,
.clyde .skirt-wave {
  background-color: var(--ghost-clyde);
}

.inky .ghost-body,
.inky .skirt-wave {
  background-color: var(--ghost-inky);
}

.pinky .ghost-body,
.pinky .skirt-wave {
  background-color: var(--ghost-pinky);
}

.blinky .ghost-body,
.blinky .skirt-wave {
  background-color: var(--ghost-blinky);
}

.scared .ghost-body,
.scared .skirt-wave {
  background-color: var(--ghost-scared);
}

.dead-ghost .ghost-body,
.dead-ghost .skirt-wave {
  background-color: transparent;
}

.dead-ghost .ghost-eye {
  border: 1px solid var(--ghost-eye-color);
}
