/* INDIVIDUAL ARROWS */
/*
.top-down {
	fill: currentColor !important;
	stroke: currentColor !important;
}

.top-up {
	fill: currentColor !important;
	stroke: currentColor !important;
}

.bottom-down {
	fill: currentColor !important;
	stroke: currentColor !important;
}

.bottom-up {
	fill: currentColor !important;
	stroke: currentColor !important;
}

.left-right {
	fill: currentColor !important;
	stroke: currentColor !important;
}

.left-left {
	fill: currentColor !important;
	stroke: currentColor !important;
}

.right-left {
	fill: currentColor !important;
	stroke: currentColor !important;
}

.right-right {
	fill: currentColor !important;
	stroke: currentColor !important;
}
*/

/* COMPOSITE DIRECTIONS */

.single-top-in .top-down {
  fill: var(--tile-portal-fill-color-part);
  stroke: var(--tile-portal-stroke-color-part);
}

.single-top-out .top-up {
  fill: var(--tile-portal-fill-color-part);
  stroke: var(--tile-portal-stroke-color-part);
}

.single-bottom-in .bottom-up {
  fill: var(--tile-portal-fill-color-part);
  stroke: var(--tile-portal-stroke-color-part);
}

.single-bottom-out .bottom-down {
  fill: var(--tile-portal-fill-color-part);
  stroke: var(--tile-portal-stroke-color-part);
}

.single-left-in .left-right {
  fill: var(--tile-portal-fill-color-part);
  stroke: var(--tile-portal-stroke-color-part);
}

.single-left-out .left-left {
  fill: var(--tile-portal-fill-color-part);
  stroke: var(--tile-portal-stroke-color-part);
}

.single-right-in .right-left {
  fill: var(--tile-portal-fill-color-part);
  stroke: var(--tile-portal-stroke-color-part);
}

.single-right-out .right-right {
  fill: var(--tile-portal-fill-color-part);
  stroke: var(--tile-portal-stroke-color-part);
}

.two-way-horizontal .top-up,
.two-way-horizontal .bottom-down {
  fill: var(--tile-portal-fill-color-part);
  stroke: var(--tile-portal-stroke-color-part);
}

.two-way-vertical .left-left,
.two-way-vertical .right-right {
  fill: var(--tile-portal-fill-color-part);
  stroke: var(--tile-portal-stroke-color-part);
}
