html {
  --background-color: #cbd9db;

  /* SVG SETTINGS */
  --tile-dim: 1.75rem;
  --ghost-tile-stroke-dim: 7.5rem;
  --tile-wall-stroke-dim: 5rem;
  --tile-portal-stroke-dim: 1.5rem;
  --tile-point-dim: var(--tile-dim) / 3;
  --tile-wall-stroke-color: #0d0d0d55;
  --tile-wall-stroke-color-part: #0d0d0d;
  --tile-ghost-home-stroke-color-part: #007aff;
  --tile-portal-stroke-color-part: #873e23;
  --tile-portal-fill-color-part: #eab676;
  --point-bg-color: #ed1848;
  --point-shadow-color: #900c3f;
}

body {
  background-color: var(--background-color);
}

.App {
  font-family: sans-serif;
  text-align: center;
  width: 100%;
  height: auto;
  display: block;
  padding: 0;
  margin: 0;
}

table,
table tr,
tr td,
table tbody,
table thead,
table tfoot,
table tr th,
table tfoot tr tf {
  margin: 0;
  padding: 0;
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
  background-image: none;
  vertical-align: baseline;
}

table {
  table-layout: fixed;
}
