html {
  --background-color: #cbd9db;
  --pure-white: #ffffff;
  --text-light: #f7f7f7;
  --base-black: #0d0d0d;

  /* PAGE SETTINGS */

  --padding-main: 1rem;

  /* MODAL SETTINGS */
  --modal-background: var(--base-black);
  --modal-text: var(--text-light);

  /* SVG SETTINGS */
  --tile-dim: 1.75rem;
  --ghost-tile-stroke-dim: 7.5rem;
  --tile-wall-stroke-dim: 5rem;
  --tile-portal-stroke-dim: 1.5rem;
  --tile-point-dim: var(--tile-dim) / 3;
  --tile-wall-stroke-color: #0d0d0d55;
  --tile-wall-stroke-color-part: var(--base-black);
  --tile-ghost-home-stroke-color-part: #007aff;
  --tile-portal-stroke-color-part: #873e23;
  --tile-portal-fill-color-part: #eab676;

  /* POINTS */
  --point-bg-color: #ed1848;
  --point-shadow-color: #900c3f;

  /* PACMAN */
  --pacman-dimension: var(--tile-dim);
  --pacman-color: #ffe300;
  --pacman-color-grad: #ffc23d;
  --pacman-color-eye: var(--background-color);
  --pacman-mouth-rotation: 45deg;
  --pacman-mouth-rotation-neg: -45deg;

  /* GHOST */
  --ghost-dimension: var(--tile-dim) * 0.85;
  --ghost-hover: var(--ghost-dimension) / 20;
  --ghost-hover-neg: var(--ghost-dimension) / -20;
  --ghost-eye-color-white: var(--background-color);
  --ghost-eye-color-white-dead: var(--pure-white);
  --ghost-eye-color: #0d0d0d;
  --ghost-inky: #00ffff;
  --ghost-pinky: #ffb8ff;
  --ghost-clyde: #ffb852;
  --ghost-blinky: #ff0000;
  --ghost-scared: #1919a6;
}

body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
  width: 100%;
  height: auto;
  display: block;
  padding: 0;
  margin: 0;
}

table,
table tr,
tr td,
table tbody,
table thead,
table tfoot,
table tr th,
table tfoot tr tf {
  margin: 0;
  padding: 0;
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
  background-image: none;
  vertical-align: baseline;
}

table {
  table-layout: fixed;
}
